/* Define color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base styles for the body */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'LondrinaSolid', sans-serif; /* Default global font */
}

/* Base styles */
@font-face {
  font-family: 'Jersey10';
  font-weight: 400;
  src: url('./fonts/Jersey10-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelifySans';
  font-weight: 400;
  src: url('./fonts/PixelifySans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelifySans';
  font-weight: 500;
  src: url('./fonts/PixelifySans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelifySans';
  font-weight: 600;
  src: url('./fonts/PixelifySans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'PixelifySans';
  font-weight: 700;
  src: url('./fonts/PixelifySans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Minecraftia';
  src: url('./fonts/Minecraftia-Regular.ttf') format('truetype');
}
/* Apply default body font if needed */
body {
  font-family: 'PixelifySans', sans-serif;
}
/* Include Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
